@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  background: #282a36;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  margin: 0 16px;
}

.links a:hover{
  color: tomato;
  transition: 100ms;
}

body div#wrapper h1{
  text-align: center;
  margin: 32px 0;
}

.projects {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.project__image-container img{
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.project__content,
.project__links {
  padding: 0 24px 24px;
}

.project__content p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.project__links{
  display: flex;
  justify-content: space-between;
}
.project__links a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.project__links a img{
  height: 25px;
}

#links-footer{
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

#links-footer a {
  border-bottom: 1px solid tomato;
}

div#links-footer.links{
  margin-top: 50px;
}

div#links-footer.links p {
  margin: 10px 0 0 5px;

}
div#links-footer.links p a{
  margin: 0 5px;
  border: none;
}

@media(max-width: 1000px){
  .projects {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media(min-width: 1440px){
  #wrapper {
    padding: 32px;
    height: 100%;
  }
} 